/*
/* Flex
/*
----------------------------------------------------------------- */
@use "sass:math";
@use "global" as *;

@mixin flex {
	display: flex;

	&-forward {
		flex-direction: row;
	}

	&-reverse {
		flex-direction: row-reverse;
	}

	&-c {
		justify-content: center;
	}

	&-align-c {
		align-items: center;
	}

	&-wrap {
		flex-wrap: wrap;
	}

	&-basis {
		&-1\/2 {
			flex-basis: 50%;
		}

		&-1\/3 {
			flex-basis: 33.333333%;
		}

		&-2\/3 {
			flex-basis: 66.666667%;
		}

		&-1\/4 {
			flex-basis: 25%;
		}

		&-2\/4 {
			flex-basis: 50%;
		}

		&-3\/4 {
			flex-basis: 75%;
		}

		&-1\/5 {
			flex-basis: 20%;
		}

		&-2\/5 {
			flex-basis: 40%;
		}

		&-3\/5 {
			flex-basis: 60%;
		}

		&-4\/5 {
			flex-basis: 80%;
		}

		&-1\/6 {
			flex-basis: 16.666667%;
		}

		&-2\/6 {
			flex-basis: 33.333333%;
		}

		&-3\/6 {
			flex-basis: 50%;
		}

		&-4\/6 {
			flex-basis: 66.666667%;
		}

		&-5\/6 {
			flex-basis: 83.333333%;
		}

		&-1\/12 {
			flex-basis: 8.333333%;
		}

		&-2\/12 {
			flex-basis: 16.666667%;
		}

		&-3\/12 {
			flex-basis: 25%;
		}

		&-4\/12 {
			flex-basis: 33.333333%;
		}

		&-5\/12 {
			flex-basis: 41.666667%;
		}

		&-6\/12 {
			flex-basis: 50%;
		}

		&-7\/12 {
			flex-basis: 58.333333%;
		}

		&-8\/12 {
			flex-basis: 66.666667%;
		}

		&-9\/12 {
			flex-basis: 75%;
		}

		&-10\/12 {
			flex-basis: 83.333333%;
		}

		&-11\/12 {
			flex-basis: 91.666667%;
		}

		&-full {
			flex-basis: 100%;
		}
	}
}

.flex {
	@include flex;
}

@include mq(md, true) {
	.pc\:flex {
		@include flex;
	}
}

@include mq(md) {
	.md\:flex {
		@include flex;
	}
}

@include mq(sm) {
	.sm\:flex {
		@include flex;
	}
}
