@use "global" as *;
$step-gap: 5;

@mixin gap {
	@for $i from 0 through 20 {
		&-#{$i * $step-gap} {
			gap: #{$i * $step-gap}px;
		}
	}

	@for $i from 0 through 20 {
		&-x-#{$i * $step-gap} {
			column-gap: #{$i * $step-gap}px;
		}

		&-y-#{$i * $step-gap} {
			row-gap: #{$i * $step-gap}px;
		}
	}
}

.gap {
	@include gap;
}

@include mq(md, true) {
	.pc\:gap {
		@include gap;
	}
}

@include mq(md) {
	.md\:gap {
		@include gap;
	}
}

@include mq(sm) {
	.sm\:gap {
		@include gap;
	}
}
