@use "global" as *;
$step-width: 5;

@mixin width {
	&-auto {
		width: auto !important;
	}

	&-full {
		width: 100% !important;
	}

	@for $i from 0 through 300 {
		&-#{$i * $step-width} {
			width: #{$i * $step-width}px !important;
		}
	}

	@for $i from 0 through 20 {
		&-#{$i * $step-width}per {
			width: #{$i * $step-width}per !important;
		}
	}
}

@mixin max-width {
	&-none {
		max-width: none !important;
	}

	&-full {
		max-width: 100% !important;
	}

	@for $i from 0 through 300 {
		&-#{$i * $step-width} {
			max-width: #{$i * $step-width}px !important;
		}
	}
}

@mixin min-width {
	&-none {
		min-width: none !important;
	}

	&-full {
		min-width: 100% !important;
	}

	@for $i from 0 through 300 {
		&-#{$i * $step-width} {
			min-width: #{$i * $step-width}px !important;
		}
	}
}

.w {
	@include width;
}

.max-w {
	@include max-width;
}

.min-w {
	@include min-width;
}

@include mq(md, true) {
	.pc\:w {
		@include width;
	}

	.pc\:max-w {
		@include max-width;
	}

	.pc\:min-w {
		@include min-width;
	}
}

@include mq(md) {
	.md\:w {
		@include width;
	}

	.md\:max-w {
		@include max-width;
	}

	.md\:min-w {
		@include min-width;
	}
}

@include mq(sm) {
	.sm\:w {
		@include width;
	}

	.sm\:max-w {
		@include max-width;
	}

	.sm\:min-w {
		@include min-width;
	}
}
