/*
/* Grid System
/*
----------------------------------------------------------------- */
.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -10px;
	margin-left: -10px;

	&.-reverse {
		flex-direction: row-reverse;
	}

	&.-c {
		justify-content: center;
	}

	&.-sm {
		margin-right: -5px;
		margin-left: -5px;

		& > .col {
			padding-right: 5px;
			padding-left: 5px;
		}
	}

	&.-md {
		margin-left: -20px;
		margin-right: -20px;

		& > .col {
			padding-right: 20px;
			padding-left: 20px;
		}
	}
}
	.col {
		padding: 10px;
		box-sizing: border-box;
	}

	@for $i from 1 through 12 {
		.col-#{$i} {
			@extend .col;
			flex: 0 0 #{100% / 12 * $i};
			max-width: #{100% / 12 * $i};

			@include mq(sp) {
			flex: 0 0 100%;
			max-width: 100%;
			}
		}

		.col-sm-#{$i} {
			@include mq(sp) {
				flex: 0 0 #{100% / 12 * $i};
				max-width: #{100% / 12 * $i};
			}
		}
	}
