{% extends '_layouts/_default.njk' %}
{% set pageTitle = 'ページタイトル｜サイトタイトル' %}
{% set pageDescription = 'ページ固有のディスクリプション' %}
{% set pagekeywords = '' %}

{% block css -%}{% endblock %}

{% block contents -%}
<main>
	<p class="icon">piyo</p>
	<p>
		<a href="#bottom">bottom</a>
	</p>
	<img src="/assets/images/pcimage.jpg" data-sp="/assets/images/spimage.jpg" alt="">
	<img src="/assets/images/pcimage.jpg" data-sp="/assets/images/spimage.jpg" alt="">
	<img src="/assets/images/pcimage.jpg" data-sp="/assets/images/spimage.jpg" alt="">
	<p class="sa">Scroll animation</p>
	<img src="/assets/images/pcimage.jpg" data-sp="/assets/images/spimage.jpg" alt="">
	<img src="/assets/images/pcimage.jpg" data-sp="/assets/images/spimage.jpg" alt="">
	<img src="/assets/images/pcimage.jpg" data-sp="/assets/images/spimage.jpg" alt="">
	<p id="bottom">bottom.</p>
</main>
{%- endblock %}

{% block js -%}{% endblock %}
