/*
/* Numbers
/*
----------------------------------------------------------------- */
.numbers-header {
	&__inner {
		display: flex;
		justify-content: space-between;

		@include mq(sp) {
			flex-direction: column-reverse;
		}
	}

	&__thumb {
		width: 400px;
		margin-left: 100px;
		flex-shrink: 0;

		@include mq(sp) {
			text-align: center;
			width: auto;
			margin-left: 0;
		}
	}

	&__title {
		font-size: 3.2rem;
		color: $color-blue;
		font-family: $ff-serif;
		margin-bottom: 40px;

		@include mq(sp) {
			margin-top: 20px;
			margin-bottom: 10px;
			font-size: 1.8rem;

		}
	}
}

.numbers-body {
	&__inner {
		display: flex;
		flex-wrap: wrap;
		margin-top: -50px;

		@include mq(sp) {
			margin-top: 0;
			display: block;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		width: 33.333%;
		margin-top: 50px;
		padding: 10px 40px;
		border-right: 1px $color-font solid;
		box-sizing: border-box;

		@include mq(sp) {
			width: auto;
			border-right: none;
			margin-top: 20px;
			padding: 0 0 30px;
			border-bottom: 1px $color-gray-border solid;
		}

		&:nth-child(3n) {
			border-right: none;
		}

		&:last-child {
			@include mq(sp) {
				border-bottom: none;
				padding-bottom: 0;
			}
		}

		&__title {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			font-size: 2.4rem;
			font-family: $ff-serif;
			text-align: center;

			@include mq(sp) {
				font-size: 1.8rem;
			}

			span {
				font-size: 1.6rem;

				@include mq(sp) {
					font-size: 1.4rem;
				}
			}
		}

		&__feature {
			font-size: 5rem;
			font-family: $ff-serif;
			text-align: center;
			line-height: 1;

			@include mq(sp) {
				font-size: 2.4rem;
			}
		}

		&__num {
			font-size: 10rem;
			color: $color-blue;
			margin: 0 .1em;

			@include mq(sp) {
				font-size: 8rem;
			}
		}

		&__thumb {
			margin-top: 30px;
			text-align: center;

			@include mq(sp) {
				margin-top: 20px;
			}

			img {
				max-width: 100%;
				height: auto;
			}
		}

		&__lead {
			font-size: 1.8rem;
			font-family: $ff-serif;
			text-align: center;
			margin: 20px 0 10px;

			span {
				color: $color-blue;
			}
		}

		&__desc {
			font-size: 1.4rem;
			font-family: $ff-serif;
			line-height: 1.9;
		}
	}
}
