$base-font-size: 16;

$ff-noto-sans: "Noto Sans JP", sans-serif;
$ff-noto-serif: "Noto Serif JP", serif;

$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-black: 900;

$color-black: #333;
$color-white: #fff;
$color-assort: "";
$color-accent: "";

$breakpoints: (
	2xl: 1536px,
	xl: 1280px,
	lg: 1024px,
	md: 768px,
	sm: 640px,
);

$width-content: 1290px;
$viewport-pc: 1920;
$viewport-sp: 375;
