<!DOCTYPE HTML>
<html lang="ja">
<head>
	{%- include '_partials/_head.njk' -%}
	{% block css %}{% endblock -%}
</head>

<body class="{{ filename | join('-') }}">
	<div class="container">
		{%- include '_partials/_header.njk' -%}

		{% block contents %}{% endblock %}

		{%- include '_partials/_footer.njk' -%}
	</div>
<script src="/assets/js/bundle.js"></script>
{%- block js -%}{%- endblock -%}
</body>
</html>
