<!DOCTYPE HTML>
<html lang="ja">
	<head>
		{%- include '_partials/_head.njk' -%}
		{% block css %}{% endblock -%}
	</head>

	<body class="{{ filename | join('-') }}">
		<div class="site-container">
			{%- include '_partials/_header.njk' -%}

			<div id="dcms_layoutPageBlockPasteArea">
				<div id="dcms_layoutPageBlock">
					{% block contents %}{% endblock %}
				</div>
			</div>

			{%- include '_partials/_footer.njk' -%}
		</div>
		<script src="/assets/js/bundle.js"></script>
		{%- block js -%}{%- endblock -%}
	</body>
</html>