<!DOCTYPE HTML>
<html lang="ja" id="top">
	<head>
		{%- include '_partials/_head.njk' -%}
		{% block css %}{% endblock -%}
	</head>

	<body class="{{ filename | join('-') }}">
		<div class="site-container">
			{%- include '_partials/_header.njk' -%}

			{% block contents %}{% endblock %}

			{%- include '_partials/_footer.njk' -%}
		</div>

		{%- block js -%}{%- endblock -%}
	</body>
</html>