/*
/* Button
/*
----------------------------------------------------------------- */
.btn {
	overflow: hidden;
	position: relative;

	@at-root {
		& a,
		button#{&} {
			appearance: none;
			position: relative;
			display: flex;
			height: 45px;
			width: 100%;
			text-decoration: none;
			background: none;
			border: none;
			max-width: 200px;
			margin-left: auto;
			margin-right: auto;
			transition: color .3s ease;
			cursor: pointer;

			@include mq(sp) {
				font-size: 1.3rem;
			}

			&::after {
				@include icon($arrow-right);
				position: absolute;
				right: 10px;
				top: 50%;
				font-size: 1.1rem;
				color: $color-font;
				transform: translate(0, -50%);
				transition: transform .3s ease,
					color .3s ease;
			}
		}
	}
}
