
/**
 * Box-basic
**/

.box-basic {
	// overflow: hidden;
	margin-top: 90px;
	margin-bottom: 100px;
	@include mq(sp) {
		margin-top: 40px;
		margin-bottom: 50px;
	}

	&__body {
		overflow: hidden;
		margin-top: 50px;
		padding-bottom: 50px;
		border-bottom: 1px solid #000;
		&:last-child{
			border: none;
		}
		@include mq(sp) {
			margin-top: 20px;
			padding-bottom: 20px;
		}
	}

	&__footer {
		margin-top: 80px;
	}

	&__title {
		@include mq(sp) {
			text-align: left;
		}
	}

	&__thumb {
		float: right;
		margin-left: 50px;

		@include mq(sp) {
			float: none;
			text-align: center;
			margin-left: 0;
			margin-bottom: 20px;
		}

		&.-l {
			float: left;
			margin-left: 0;
			margin-right: 50px;

			@include mq(sp) {
				float: none;
				margin-right: 0;
			}
		}
	}

	&__blue{
		dt{
			background: $color-blue;
			color: #fff;
			text-align: center;
			padding: 25px;
			font-size: 1.8rem;
			font-weight: bold;
			span{
				&.-yellow{
				color: #FFFF00;
				}
			}
		}
		dd{
			padding: 50px;
			border: 1px solid $color-blue;
			@include mq(sp) {
				padding: 20px;
			}
			figure{
				img{
					width: 70%;
					height: auto;
					@include mq(sp) {
						width: 90%;
					}
				}
			}
		}
	}
}
