@use '../../foundation' as g;

.btn {
	position: relative;

	a,
	button {
		appearance: none;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 45px;
		width: 100%;
		text-decoration: none;
		background: g.$color-black;
		color: g.$color-white;
		border: none;
		max-width: 200px;
		margin-left: auto;
		margin-right: auto;
		transition: color .3s ease;
		cursor: pointer;

		@include g.mq(sp) {
			font-size: 1.3rem;
		}
	}
}