/*
/* Input select

	<div class="input-select">
		<select name="">
			<option value="">foo</option>
		</select>
	</div>

/*
----------------------------------------------------------------- */
.input-select {
	position: relative;
	display: inline-block;

	&::after{
		content: '';
		position: absolute;
		z-index: 0;
		top: 0;
		bottom: 0;
		margin: auto 0;
		right: 10px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 5px 4px 0 4px;
		border-color: #333 transparent transparent transparent;
	}

	select {
		appearance: none;
		background: transparent;
		position: relative;
		z-index: 1;
		height: 48px;
		box-sizing: border-box;
		padding: 0 20px 0 10px;
		background: transparent;
		border: none;
		border: 1px #eee solid;
		font-size: 1.4rem;
		width: 100%;

		&::-ms-expand {
			display: none;
		}

		&:focus {
			outline: none;
		}
	}
}
