/**
 * Recruit
**/
.recruit {
	margin-top: 100px;
	background: $color-blue;

	@include mq(sp) {
		margin-top: 20px;
	}

	&__body {
		padding-top: 70px;
		padding-bottom: 80px;

		@include mq(sp) {
			padding: 30px 30px 30px;
		}
	}

	&__title {
		color: #fff;
		font-size: 3.2rem;
		font-family: $ff-serif;
		text-align: center;
		letter-spacing: .2em;
		font-style: italic;
		margin-bottom: 30px;

		@include mq(sp) {
			font-size: 2.4rem;
		}
	}
}
