.table {
	width: 100%;
	border-top: 1px $color-gray-border solid;
	margin-top: 20px;
	th {
		width: 20%;
		background: $color-blue;
		color: #fff;
		font-family: $ff-serif;
		padding: 20px;
		box-sizing: border-box;
		border-bottom: 1px #fff solid;
		vertical-align: middle;
		font-size: 1.8rem;

		@include mq(sp) {
			display: block;
			width: 100%;
			border: none;
			padding: 10px 0;
			font-size: 1.5rem;
		}
	}

	td {
		border-bottom: 1px $color-gray-border solid;
		padding: 20px;
		vertical-align: middle;
		@include mq(sp) {
			padding: 10px 0 30px;
			display: block;
			border: none;
		}
	}
	.gray{
		background: #f2f2f2;
		white-space: nowrap;
		text-align: center;
		@include mq(sp) {
			padding-bottom: 10px;
		}
	}
}
