.text {
	font-size: 1.5rem;
	color: $color-font;
	line-height: 2;
	font-family: $ff-serif;

	@include mq(sp) {
		font-size: 1.4rem;
		line-height: 1.8;
	}

	&.-c {
		text-align: center;
	}

	&.-lead {
		line-height: 2.4;

		@include mq(sp) {
			line-height: 2;
		}
	}

	&.-notes {
		text-indent: -1em;
		padding-left: 1em;

		&::before {
			content: '※';

		}
	}
}
