.title-primary {
	font-size: 4.4rem;
	text-align: center;
	font-family: $ff-serif;
	font-style: italic;
	letter-spacing: .2em;

	@include mq(sp) {
		font-size: 2.4rem;
	}

	&::first-letter {
		color: $color-blue;
	}

	&.-white {
		color: #fff;
	}

	&.-md {
		font-size: 2.6rem;

		@include mq(sp) {
			font-size: 1.8rem;
		}
	}

	&.-l {
		text-align: left;
	}
}

.title-secondly {
	font-size: 1.8rem;
	font-style: italic;
	font-family: $ff-serif;
	text-align: center;
	font-weight: bold;
	letter-spacing: .3em;
	margin-bottom: 20px;

	@include mq(sp) {
		font-size: 1.4rem;
		margin-bottom: 10px;
	}
}

.title-thirdly {
	font-size: 3.2rem;
	font-family: $ff-serif;
	letter-spacing: .1em;
	margin-bottom: 30px;
	color: $color-blue;

	@include mq(sp) {
		font-size: 2rem;
		margin-bottom: 10px;
	}
}

.title-fourthly {
	position: relative;
	font-size: 3.2rem;
	font-family: $ff-serif;
	letter-spacing: .1em;
	margin-bottom: 50px;
	padding-bottom: 20px;
	color: $color-blue;
	border-bottom: 1px #000 solid;

	@include mq(sp) {
		font-size: 2rem;
		margin-bottom: 10px;
		padding-bottom: 10px;
	}

	&::after {
		content: '';
		width: 20%;
		height: 1px;
		background-color: $color-blue;
		position: absolute;
		left: 0;
		bottom: -1px;
	}
}

.title-fifthly {
	font-size: 2.4rem;
	font-family: $ff-serif;
	letter-spacing: .1em;
	margin-bottom: 10px;
	color: $color-font;

	@include mq(sp) {
		font-size: 1.8rem;
		margin-bottom: 10px;
	}
}

.title-sixthly {
	font-weight: bold;
	font-family: $ff-serif;
	color: $color-blue;
	line-height: 2;
	margin-top: 10px;
	font-size: 1.6rem;

	@include mq(sp) {
		font-size: 1.4rem;
	}

	&:first-child {
		margin-top: 0;
	}
}



.title-logo {
	margin-bottom: 15px;
	color: $color-font;

	@include mq(sp) {
		margin-bottom: 10px;
		img{
			width: 60%;
		}
	}
}