@use "global/mixin/" as *;

:root {
	--padding-side: 80px;
	--height-header: 120px;
	--leading-trim: calc((1em - 1lh) / 2);

	@include mq(lg) {
		--padding-side: 40px;
	}

	@include mq(md) {
		--padding-side: 24px;
		--height-header: 64px;
	}
}
