{% extends '_layouts/_default.njk' %}
{% set pageTitle = 'ページタイトル｜サイトタイトル' %}
{% set pageDescription = 'ページ固有のディスクリプション' %}
{# set pagekeywords = '' #}

{% block css -%}{% endblock %}

{% block contents -%}
{{filename}}
{%- endblock %}

{% block js -%}{% endblock %}
