<%
  var location = "/products/tea/";
%>
<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include('../include/_head', {
      title: 'Top | ',
      description: 'uniq'
    }) %>
  </head>
<body>
  <body>
    <div class="container">
      <header class="header">
        <div class="header__inner">
          <%- include('../include/_header', {location: location}) %>
        </div>
      </header>

      <main>
        <h1>Website</h1>
        <h2>ダミーテキスト</h2>
        <p>piyopiyo</p>
      </main>

      <footer class="footer">
        <div class="footer__inner">
          <%- include('../include/_footer') %>
        </div>
      </footer>
    </div>
    <%- include('../include/_script', {param:'param'}) %>
  </body>
</html>
