@use 'global' as *;

.site-menu {
	position: fixed;
	z-index: 10;
	left: 0;
	top: 60px;
	height: calc(100vh - 60px);
	height: calc(100svh - 60px);
	width: 100%;
	background-color: $color-black;
	display: none;

	&.-is-open {
		display: flex;
	}

	&__inner {}
}
