/*
/* Entry
/*
----------------------------------------------------------------- */
/**
 * Pagination
**/
.entry-pagination {
	margin-top: 100px;
	margin-bottom: 100px;

	@include mq(sp) {
		margin-top: 40px;
		margin-bottom: 20px;
	}

	&__inner {
		display: flex;
		border-top: 1px $color-blue solid;
		border-bottom: 1px $color-blue solid;
		border-right: 1px $color-blue solid;
	}

	&__content {
		width: 33.333%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 15px;
		border-left: 1px $color-blue solid;
		box-sizing: border-box;
		font-size: 1.8rem;
		font-family: $ff-serif;
		text-align: center;
		color: $color-blue;

		@include mq(sp) {
			padding: 5px 0 6px;
			font-size: 1.2rem;
		}

		&.-current {
			color: #fff;
			background-color: $color-blue;
		}
	}
}

/**
 * Form
**/
.entry-error {
	margin-top: 100px;
	margin-bottom: 100px;

	@include mq(sp) {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	&__inner {
		background-color: rgba($color-red, .05);
		max-width: 1000px;
		padding: 35px 40px;
		box-sizing: border-box;

		@include mq(sp) {
			padding: 20px;
		}
	}

	&__item {
		color: $color-red;
		font-family: $ff-serif;
		line-height: 2;

		@include mq(sp) {
			font-size: 1.2rem;
		}
	}
}

/**
 * Form
**/
.entry-form {

	&__content {
		display: flex;
		align-items: center;
		margin-top: 30px;

		@include mq(sp) {
			display: block;
			margin-top: 20px;
		}
	}

	&__header {
		width: 33.333%;
		box-sizing: border-box;
		padding-right: 40px;
		text-align: right;
		font-family: $ff-serif;

		@include mq(sp) {
			width: auto;
			text-align: left;
			padding-right: 0;
			margin-bottom: 10px;
		}
	}

	&__body {
		width: 66.666%;

		@include mq(sp) {
			width: auto;
		}
	}

	&__footer {
		display: flex;
		justify-content: center;
		margin-top: 100px;

		@include mq(sp) {
			flex-direction: column-reverse;
			align-items: center;
			margin-top: 30px;
			margin-bottom: 40px;
		}
	}

	&__btn {
		width: 100%;
		max-width: 310px;
		margin: 0 10px;

		@include mq(sp) {
			margin: 10px 0;
		}
	}

	&__desc {
		text-align: center;
		font-family: $ff-serif;
		line-height: 1.8;

		@include mq(sp) {
			text-align: left;
		}
	}

	&__box {
		margin-top: 80px;
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;

		@include mq(sp) {
			margin-top: 40px;
		}

		&__header {
			background: $color-blue;
			padding: 15px 25px;

			@include mq(sp) {
				padding: 10px 15px;
			}
		}

		&__title {
			color: #fff;
			font-family: $ff-serif;
			font-size: 1.8rem;

			@include mq(sp) {
				font-size: 1.6rem;
			}
		}

		&__body {
			padding: 20px 25px;
			background: $color-gray-light;

			@include mq(sp) {
				padding: 10px 15px;
			}
		}
	}
}
