/*
/* Recruit
/*
----------------------------------------------------------------- */
.recruit-content {
	&__footer {
		display: flex;
		justify-content: center;

		@include mq(sp) {
			display: block;
		}
	}

	&__btn {
		width: 100%;
		max-width: 310px;
		padding: 0 20px;
		box-sizing: border-box;

		@include mq(sp) {
			margin: 10px auto;
			padding: 0;
		}
	}
}
