@use '../../foundation' as g;

@mixin align {
	&-c {
		text-align: center;
	}

	&-l {
		text-align: left;
	}

	&-r {
		text-align: right;
	}
}

.align {
	@include align;
}

@include g.mq(sp, true) {
	.pc\:align {
		@include align;
	}
}

@include g.mq(tablet) {
	.md\:align {
		@include align;
	}
}

@include g.mq(sp) {
	.sm\:align {
		@include align;
	}
}