/*
/* Grid System
/*
----------------------------------------------------------------- */
@mixin row {

	display: flex;
	flex-wrap: wrap;
	margin: -5px;

	&-forward {
		flex-direction: row;
	}

	&-reverse {
		flex-direction: row-reverse;
	}

	&-c {
		justify-content: center;
	}

	&-align-c {
		align-items: center;
	}

	&-nowrap {
		flex-wrap: nowrap;
	}

	@for $i from 0 through 20 {
		&-gap-#{$i * 5} {
			margin: -#{$i * 5}px;

			&>[class*="col"] {
				padding: #{$i * 5}px;
			}
		}
	}

	@for $i from 0 through 20 {
		&-gap-x-#{$i * 5} {
			margin-left: -#{$i * 5}px;
			margin-right: -#{$i * 5}px;

			&>[class*="col"] {
				padding-left: #{$i * 5}px;
				padding-right: #{$i * 5}px;
			}
		}

		&-gap-y-#{$i * 5} {
			margin-top: -#{$i * 5}px;
			margin-bottom: -#{$i * 5}px;

			&>[class*="col"] {
				padding-top: #{$i * 5}px;
				padding-bottom: #{$i * 5}px;
			}
		}
	}
}

@mixin col {
	padding: 5px;
	box-sizing: border-box;

	@for $i from 1 through 12 {
		&-#{$i} {
			padding: 5px;
			box-sizing: border-box;
			flex: 0 0 #{100% / 12 * $i};
			max-width: #{100% / 12 * $i};
		}
	}
}

.row {
	@include row;
}

.col {
	@include col;

	@for $i from 1 through 12 {
		&-#{$i} {
			@include mq(sp) {
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
	}
}

@include mq(sp, true) {
	.pc\:row {
		@include row;
	}

	.pc\:col {
		@include col;
	}
}

@include mq(tablet) {
	.md\:row {
		@include row;
	}

	.md\:col {
		@include col;
	}
}

@include mq(sp) {
	.sm\:row {
		@include row;
	}

	.sm\:col {
		@include col;
	}
}