@use '../../foundation' as g;

@mixin width {
	&-auto {
		width: auto;
	}

	&-full {
		width: 100%;
	}

	@for $i from 0 through 300 {
		&-#{$i * 5} {
			width: #{$i * 5}px;
		}
	}

	@for $i from 0 through 20 {
		&-#{$i * 5}per {
			width: #{$i * 5}per;
		}
	}
}

@mixin max-width {
	&-none {
		max-width: none;
	}

	&-full {
		max-width: 100%;
	}

	@for $i from 0 through 300 {
		&-#{$i * 5} {
			max-width: #{$i * 5}px;
		}
	}
}

@mixin min-width {
	&-none {
		min-width: none;
	}

	&-full {
		min-width: 100%;
	}

	@for $i from 0 through 300 {
		&-#{$i * 5} {
			min-width: #{$i * 5}px;
		}
	}
}

.w {
	@include width;
}

.max-w {
	@include max-width;
}

.min-w {
	@include min-width;
}

@include g.mq(sp, true) {
	.pc\:w {
		@include width;
	}

	.pc\:max-w {
		@include max-width;
	}

	.pc\:min-w {
		@include min-width;
	}
}

@include g.mq(tablet) {
	.md\:w {
		@include width;
	}

	.md\:max-w {
		@include max-width;
	}

	.md\:min-w {
		@include min-width;
	}
}

@include g.mq(sp) {
	.sm\:w {
		@include width;
	}

	.sm\:max-w {
		@include max-width;
	}

	.sm\:min-w {
		@include min-width;
	}
}