<header class="header">
	<div class="header__inner">
		<h1 class="logo"><a href="/">logo</a></h1>
		<nav class="nav">
			<button class="nav__btn"></button>
				<div class="nav__global">
				<ul>
					<li class="nav__global__item"><a href="/">HOME</a></li>
					<li class="nav__global__item{% if filename[0] == 'about' %}--current{% endif %}"><a href="/about/">私たちについて</a>
						<ul>
							<li class="nav__global__item{% if filename | join('-') == 'about-summary-index' %}--current{% endif %}"><a href="/about/summary/">私達について>概要</a></li>
						</ul>
					</li>
					<li class="nav__global__item{% if filename[0] == 'company' %}--current{% endif %}"><a href="/company/">会社概要</a></li>
					<li class="nav__global__item"><a href="/contact/">お問い合わせ</a></li>
				</ul>
			</div>
		</nav>
	</div>
</header>
