<nav class="site-nav">
	<ul class="site-nav__list">
		<li class="site-nav__list-item"><a href="/">Top</a></li>
		<li class="site-nav__list-item">
			<a href="/sample/">Sample Parts</a>
			<ul class="site-nav__child-list">
				<li class="site-nav__child-list__item"><a href="#">Dummy link</a></li>
				<li class="site-nav__child-list__item"><a href="#">Dummy link</a></li>
				<li class="site-nav__child-list__item"><a href="#">Dummy link</a></li>
			</ul>
		</li>
	</ul>
</nav>
