/*
/* Faq
/*
----------------------------------------------------------------- */
.faq-content {
	margin-top: 80px;

	@include mq(sp) {
		margin-top: 40px;
	}

	&__inner {
		max-width: 1000px;
	}

	&__header {
		position: relative;
		padding-left: 50px;
		margin-bottom: 25px;
		padding-bottom: 20px;
		border-bottom: 1px #000 solid;

		@include mq(sp) {
			padding-left: 40px;
			margin-bottom: 15px;
			padding-bottom: 15px;
		}

		&::before {
			content: 'Q';
			position: absolute;
			left: 0;
			top: 0;
			color: $color-blue;
			font-size: 3.4rem;
			line-height: 1;
			font-family: $ff-serif;

			@include mq(sp) {
				font-size: 2.8rem;
			}
		}

		&::after {
			content: '';
			width: 20%;
			height: 1px;
			background-color: $color-blue;
			position: absolute;
			left: 0;
			bottom: -1px;
		}
	}

	&__body {
		position: relative;
		padding-left: 50px;

		@include mq(sp) {
			padding-left: 40px;
		}

		&::before {
			content: 'A';
			position: absolute;
			left: 0;
			top: 0;
			color: $color-blue;
			font-size: 3.4rem;
			line-height: 1;
			color: $color-red;
			font-family: $ff-serif;

			@include mq(sp) {
				font-size: 2.8rem;
			}
		}
	}

	&__title {
		position: relative;
		font-size: 2.4rem;
		font-family: $ff-serif;
		letter-spacing: .1em;
		color: $color-blue;

		@include mq(sp) {
			font-size: 1.8rem;
		}




	}

}
