/*
/* Symposium
/*
----------------------------------------------------------------- */
.symposium-profile {
	background-color: $color-gray-light;
	padding-bottom: 100px;
	padding-right: 20px;
	padding-left: 20px;

	@include mq(sp) {
		padding-bottom: 50px;
		padding-top: 65px;
	}

	&__inner {
		max-width: $width-site;
		margin-right: auto;
		margin-left: auto;
		padding: 40px 0 0 355px;
		box-sizing: border-box;

		@include mq(sp) {
			padding: 0;
		}
	}

	&__body {
		max-width: $width-site;
		margin: 40px auto 0;
		display: flex;
		justify-content: center;

		@include mq(sp) {
			margin-top: 10px;
			flex-wrap: wrap;
			max-width: 375px;
		}
	}

	&__content {
		width: 20%;

		@include mq(sp) {
			width: 50%;
			margin-top: 20px;
			padding: 0 5px;
			box-sizing: border-box;
		}

		&__thumb {
			max-width: 120px;
			text-align: center;
			margin: 0 auto 10px;
		}
		&__name {
			font-size: 1.6rem;
			font-family: $ff-serif;
			text-align: center;

			@include mq(sp) {
				font-size: 1.4rem;
			}
		}

		&__career {
			font-size: 1.4rem;
			font-family: $ff-serif;
			text-align: center;
			margin-top: 5px;

			@include mq(sp) {
				font-size: 1.2rem;
			}
		}
	}

	&__cross {
		display: flex;
		align-items: center;
		padding-bottom: 100px;

		@include mq(sp) {
			display: none;
		}

		&::after {
			@include icon($cross);
			color: $color-blue;
			font-size: 2.6rem;

			@include mq(sp) {
				content: none;
			}
		}
	}
}

.symposium-content {
	&__header {
		margin-bottom: 40px;

		@include mq(sp) {
			margin-bottom: 30px;
		}
	}
}

.symposium-speech {
	margin-top: 20px;
	display: flex;

	@include mq(sp) {
		margin-top: 10px;
	}

	&__header {
		padding-top: 15px;
	}

	&__body {
		position: relative;
		background: $color-gray-light;
		margin-left: 30px;
		padding: 20px 25px;
		box-sizing: border-box;

		@include mq(sp) {
			margin-left: 20px;
			padding: 20px 20px;
		}

		&::after {
			content: '';
			position: absolute;
			left: -32px;
			top: 36px;
			display: block;
			border-right: 16px $color-gray-light solid;
			border-bottom: 10px transparent solid;
			border-left: 16px transparent solid;
			border-top: 10px transparent solid;

			@include mq(sp) {
				left: -20px;
				border-right: 10px $color-gray-light solid;
				border-bottom: 6px transparent solid;
				border-left: 10px transparent solid;
				border-top: 6px transparent solid;
			}
		}

	}

	&__thumb {
		width: 60px;
		text-align: center;

		img {
			max-width: 100%;
		}

		figcaption {
			margin-top: 6px;
			font-size: 1.2rem;
			font-family: $ff-serif;
		}
	}
}
