/*
/* Top
/*
----------------------------------------------------------------- */



/**
 * Visual
**/

.visual {
	padding-right: 20px;
	padding-left: 20px;
	transition: opacity .2s ease;

	&.-visible {
		.visual__thumb {
			img {
				opacity: 1;
			}
		}

		.visual__body {
			opacity: 1;
		}

		.visual__loader {
			opacity: 0;
		}
	}

	&__inner {
		position: relative;
	}

	&__loader {
		position: absolute;
		left: 50%;
		top: 50%;
		z-index: 1;
		transition: opacity .3s ease;
		animation: loading 1s linear infinite;
	}

	@keyframes loading {
		0% { transform: rotate(0deg) }
		100% { transform: rotate(360deg) }
	}

	&__thumb {
		background-color: #fafafa;

		img {
			width: 100%;
			height: auto;
			opacity: 0;
			transition: opacity 1s ease;
		}
	}

	&__body {
		position: absolute;
		left: 0;
		top: 50%;
		width: 100%;
		transform: translateY(-50%);
		opacity: 0;
		transition: opacity .3s ease;
	}

	&__lead {
		position: relative;
		width: 100%;
		padding-top: 21%;
		margin-top: 5%;
		margin-right: auto;
		margin-left: auto;

		@include mq(sp) {
			margin-top: 0;
			transform: scale(2);
		}

		svg {
			position: absolute;
			left: 0;
			bottom: 0;
			z-index: 1;
			width: 100%;
			height: 100%;

			path {
				fill:none;
				stroke:#fff;
				stroke-width:1;
				stroke-linecap:round;
				stroke-linejoin:round;
				stroke-miterlimit:10;
			}
		}
	}

	&__copy {
		color: #fff;
		font-size: 2vw;
		text-align: center;
		font-family: $ff-serif;
		opacity: 0;
		visibility: hidden;
		transition: opacity .3s ease,
			visibility .3s ease;
			letter-spacing: 0.5rem;
		position: relative;
		transform: translateY(-150%);

		// top: -70px;
		@include mq(sp) {
			font-size: 1.4rem;
			transform: none;
			// margin-top: -40px;
		}

		&.-visible {
			opacity: 1;
			visibility: visible;
		}
	}

}

/**
 * Story
**/
.story {
	position: relative;
	margin-top: 80px;

	@include mq(sp) {
		margin-top: 40px;
	}

	&__header {
		@include st_transition();

		&.-init {
			@include st_init();
		}
	}

	&__body {
		@include st_transition();

		&.-init {
			@include st_init();
		}
	}

	&__wave {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transform: translateY(-30%) rotate(-10deg) scale(1.1, 0.5);

		@include mq(sp) {
			transform: translateY(-40%) rotate(-10deg) scale(1.1, 0.5);
		}
	}
}

/**
 * Interview
**/
.interview {
	position: relative;
	margin-top: 80px;

	@include mq(sp) {
		margin-top: 40px;
	}

	&__header {
		@include st_transition();

		&.-init {
			@include st_init();
		}
	}

	&__body {
		display: flex;

		&.-init {
			.interview__item {
				opacity: 1;
				transform: translateY(0);
			}
		}
	}

	&__wave {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transform: rotate(10deg) scale(1.1, 0.5);

		@include mq(sp) {
			transform: rotate(10deg) scale(1.1, 0.5) translateY(-80%);
		}
	}

	&__footer {
		margin-top: 70px;
		@include st_transition;

		&.-init {
			@include st_init;
		}

		@include mq(sp) {
			margin-top: 30px;
		}
	}

	&__item {
		width: 25%;
		opacity: 0;
		transition: opacity 1s ease,
			transform 1s ease;

		&:nth-child(even) {
			margin-top: 50px;
			transform: translateY(20px);

			@include mq(sp) {
				margin-top: 25px;
			}
		}

		&:nth-child(odd) {
			transform: translateY(-20px);
		}

		&:nth-child(1) {
			transition-delay: .2s;
		}

		&:nth-child(2) {
			transition-delay: .4s;
		}

		&:nth-child(3) {
			transition-delay: .6s;
		}

		&:nth-child(4) {
			transition-delay: .8s;
		}

		a {
			overflow: hidden;
			position: relative;
			display: block;
			color: #fff;

			&::before,
			&::after {
				content: '';
				display: block;
				position: absolute;
				z-index: 1;
				height: 1px;
				background: rgba(255,255,255,0.8);
				z-index: 10;

				@include mq(sp) {
					content: none;
				}
			}

			&::before {
				left: 20px;
				right: calc(100% - 20px);
				top: 20px;
				transition: right .2s linear;
			}

			&::after {
				left: calc(100% - 20px);
				right: 20px;
				bottom: 20px;
				transition: left .2s linear;
			}

			&:hover {

				&::before {
					//transform: translateX(0);
					right: 20px;
					transition-delay: .3s;
				}

				&::after {
					//transform: translateX(0);
					left: 20px;
					transition-delay: .3s;
				}

				img {
					opacity: 0;
				}

				.interview__item__inner {
					&::before {
						//transform: translateY(0);
						top: 20px;
						transition-delay: .5s;
					}

					&::after {
						//transform: translateY(0);
						bottom: 20px;
						transition-delay: .5s;
					}
				}

				.interview__item__name {
					transform: translateY(0);
					opacity: 1;
					transition-delay: .6s;
				}

				.interview__item__career {
					transform: translateY(0);
					opacity: 1;
					transition-delay: .6s;
				}

				.interview__item__label {
					opacity: 1;
					//transition-delay: .4s;
				}


			}
		}

		&__inner {
			&::before,
			&::after {
				content: '';
				display: block;
				position: absolute;
				z-index: 1;
				width: 1px;
				background: rgba(255,255,255,0.8);
				z-index: 10;

				@include mq(sp) {
					content: none;
				}

			}

			&::before {
				left: 20px;
				top: calc(100% - 20px);
				bottom: 20px;
				transition: top .2s linear;
			}

			&::after {
				right: 20px;
				top: 20px;
				bottom: calc(100% - 20px);
				//transform: translateY(-105%);
				transition: bottom .2s linear;
			}
		}

		&__label {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			font-family: $ff-serif;
			background: rgba(0,149,233, .7);
			opacity: 0;
			transition: opacity .3s ease-out;

			@include mq(sp) {
				display: none;
			}
		}

		&__name {
			font-size: 1.8rem;
			opacity: 0;
			transform: translateY(10px);
			transition: transform .3s ease-out,
				opacity .3s ease-out;
		}

		&__career {
			margin-top: 10px;
			font-size: 1.2rem;
			opacity: 0;
			transform: translateY(10px);
			transition: transform .3s ease-out,
				opacity .3s ease-out;

		}

		img {
			max-width: 100%;
			height: auto;
			transition: opacity .3s ease;
		}

		&__video {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			z-index: -1;

			video {
				width: 100%;
				height: auto;
				transform: scale(1.5);
				transform-origin: center;
			}
		}
	}

}

/**
 * Message
**/
.message {
	position: relative;
	margin-top: 100px;
	margin-right: 20px;
	margin-left: 20px;
	padding-top: 90px;
	padding-bottom: 120px;
	background: url(/assets/images/index/bg_message.jpg) 50% 50% no-repeat;
	background-size: cover;

	@include mq(sp) {
		margin-top: 60px;
		padding-top: 40px;
		padding-bottom: 60px;
	}

	&__header {
		@include st_transition;

		&.-init {
			@include st_init;
		}
	}

	&__body {
		display: flex;

		@include mq(sp) {
			display: block;
		}

		&.-init {
			.message__content {
				@include st_init;
			}
		}
	}

	&__wave {
		position: absolute;
		bottom: 0;
		left: -20px;
		z-index: -1;
		transform: translateY(60%) rotate(-10deg) scale(1.2, 0.5);

		@include mq(sp) {
			transform: translateY(70%) rotate(-10deg) scale(1.2, 0.5);
		}
	}

	&__content {
		background: #fff;
		display: flex;
		flex-direction: column;
		width: 50%;
		@include st_transition;

		&:nth-child(1) {
			transition-delay: .2s;
		}

		&:nth-child(2) {
			transition-delay: .4s;
		}

		@include mq(sp) {
			width: auto;
			margin-top: 20px;
		}

		&__thumb {
			img {
				max-width: 100%;
				height: auto;
			}
		}

		&__body {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			padding: per(30, $display-site / 2) per(80, $display-site / 2) per(40, $display-site / 2);

			@include mq(sp) {
				padding: 30px 20px;
			}
		}

		&__desc {
			flex-grow: 1;
			text-align: center;
		}

		&__btn {
			margin-top: 20px;
		}
	}
}

/**
 * Special
**/
.special {
	position: relative;
	margin-top: 90px;

	@include mq(sp) {
		margin-top: 50px;
	}

	&__header {
		@include st_transition;

		&.-init {
			@include st_init;
		}
	}

	&__wave {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transform: scale(1.1, 0.5) translateY(70%) rotate(15deg) ;
		// transform: translateY(60%);
	}

	&__content {
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		@include st_transition;

		&.-init {
			@include st_init;
		}

		@include mq(sp) {
			display: block;
			margin-top: 20px;
		}

		&:nth-child(even) {
			flex-direction: row-reverse;

			.special__content__thumb {
				&::after {
					left: 0;
					border-left-color: #fff;

					@include mq(sp) {
						left: 50%;
						border-left-color: transparent;
					}
				}
			}
		}

		&:nth-child(odd) {
			.special__content__thumb {
				&::after {
					right: 0;
					border-right-color: #fff;

					@include mq(sp) {
						right: auto;
						left: 50%;
						border-right-color: transparent;
					}
				}

			}
		}

		&__thumb {
			position: relative;
			width: 50%;
			flex-shrink: 0;

			@include mq(sp) {
				width: auto;
			}

			&::after {
				content: '';
				position: absolute;
				top: 50%;
				transform: translate(0, -50%);
				display: block;
				border-left: 15px transparent solid;
				border-right: 15px transparent solid;
				border-top: 15px transparent solid;
				border-bottom: 15px transparent solid;

				@include mq(sp) {
					border-width: 10px;
					top: auto;
					bottom: 0;
					border-bottom-color: #fff;
					transform: translate(-50%, 0);
				}
			}

			img {
				max-width: 100%;
				height: auto;
			}
		}

		&__body {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 50%;
			flex-shrink: 0;
			padding: 0 per(80, $display-site) 0;
			box-sizing: border-box;

			@include mq(sp) {
				width: auto;
				padding: 30px 0;
			}
		}

		&__btn {
			margin-top: 20px;
		}
	}
}

/**
 * System
**/
.system {
	position: relative;
	margin-top: 100px;

	@include st_transition;

	&.-init {
		@include st_init;
	}

	@include mq(sp) {
		margin-top: 50px;
	}

	&__wave {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -1;
		transform: translateY(40%) rotate(-10deg) scale(1.1, 0.5);

		@include mq(sp) {
			transform: translateY(50%) rotate(-10deg) scale(1.1, 0.5);
		}
	}

	&__inner {
		position: relative;
		background: url(/assets/images/index/bg_system.jpg) 50% 50% no-repeat;
		background-size: cover;
		height: 27vw;
		max-height: 340px;

		@include mq(sp) {
			height: auto;
			background-position: 0 50%;
		}
	}

	&__body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;

		@include mq(sp) {
			padding: 30px;
		}
	}

	&__title {
		letter-spacing: .3em;
	}

	&__btn {
		margin-top: 20px;

	}
}
