{% extends '_layouts/_default.njk' %}
{% set pageTitle = 'ページタイトル｜サイトタイトル' %}
{% set pageDescription = 'ページ固有のディスクリプション' %}
{# set pagekeywords = '' #}
{% set pageDirectory = ['about', 'summary'] %}

{% block css -%}{% endblock %}

{% block contents -%}
about/summary page.
{%- endblock %}

{% block js -%}{% endblock %}
