@use 'global' as *;

@mixin section {
	&:not(:first-child) {
		margin-top: $m-2xl;

		@include mq(sp) {
			margin-top: $m-xl;
		}
	}

	&:not(:last-child) {
		margin-bottom: $m-2xl;

		@include mq(sp) {
			margin-bottom: $m-xl;
		}
	}
}

.section {
	@include section;
}
