<%
  var absolutePath = filename.split(devRoot)[filename.split(devRoot).length -1].replace('.ejs','.html');
  var relativePath = '../'.repeat([absolutePath.split('/').length -1]);

%>
<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include('../' + relativePath + 'partial/_head', {
      title: 'about',
      description: 'uniq'
    }) %>
  </head>
  <body>
    <div class="container">
      <header class="header">
        <div class="header__inner">
          <%- include('../' + relativePath + 'partial/_header', {
            location: absolutePath
          }) %>
        </div>
      </header>

      <main>
        <h1>new</h1>
      </main>

      <footer class="footer">
        <div class="footer__inner">
        </div>
      </footer>
    </div>
  </body>
</html>
